* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#app {
    background-color: #FAFAFA;
}

.customContainer {
    width: 1350px;
    margin: 0 auto;
}

.customContainerL {
    width: 1000px;
    margin: 0 auto;
}

.customPositionR {
    top: 50%;
    right: 1%;
}

.customPositionL {
    top: 50%;
    left: 1%;
}

.btnCustom {
    border: none;
    padding: 1rem;
    width: 170px;

    span {
        padding: 0.5rem 0;
        margin-right: 0.5rem;
    }

    div {
        transform: rotate(90deg);
        display: inline-block;
        height: 2px;
        width: 30px;
    }

    &:hover div {
        display: none;
    }

}